<div id="details" class="modal" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content bg-custom-upb border-0">
			<div class="modal-header border-0 mt-4">
				<div id="meteo-icon" class="">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill" viewbox="0 0 16 16">
						<path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"></path>
					</svg>
				</div>
				<h5 id="details-title" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="detail-app-msg" class="pop-up-text d-flex justify-content-center fs-6"></p>
				<div id="maintenance">
					<table class="w-80 w-lg-50 mx-auto mt-auto mb-3">
						<tbody>
							<tr>
								<td class="pop-up-title fw-bold text-center m-auto fs-6">Dernière mise à jour</td>
								<td id="lastUpdate" class="maintenance-text text-center fs-6 fw-bold"></td>
							</tr>
						</tbody>
					</table>

					<div id="maintenance-en-cours" class="d-none">
						<div class="pop-up-title fw-bold w-100 mx-auto my-3 text-center fs-6">Maintenance en cours</div>
						<table class="w-90 w-sm-75 m-auto">
							<tbody>
								<tr>
									<th class="text-center fw-bold w-25">Date</th>
									<th class="text-center fw-bold w-25">Durée</th>
									<th class="text-center fw-bold w-25">Etat</th>
								</tr>
								<tr>
									<td class="text-center"></td>
									<td class="text-center border-start border-end px-2 text-popuptext"></td>
                                    <td class="text-center fw-bold"></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="pop-up-title fw-bold w-100 mx-auto my-3 text-center fs-6">Prochaines maintenances</div>
					<div id="nomaintenances" class="maintenance-text text-center d-none">Aucune maintenance n'est prévue</div>
					<table class="w-90 w-sm-75 m-auto d-none">
						<tbody>
							<tr>
								<th class="text-center fw-bold w-25">Date</th>
								<th class="text-center fw-bold w-25">Durée</th>
								<th class="text-center fw-bold w-25">Etat</th>
							</tr>
							<tr>
								<td class="text-center"></td>
								<td class="text-center border-start border-end px-2 text-popuptext"></td>
								<td class="text-center fw-bold"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="history" class="d-none">
					<p class="pop-up-title fw-bold mb-2 text-center fs-6 mt-3">Historique</p>
					<nav>
						<div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
							<button class="nav-link active d-none" id="nav-applications-tab" data-bs-toggle="tab" data-bs-target="#nav-applications" type="button" role="tab" aria-controls="nav-applications" aria-selected="true">Général</button>
                            <button class="nav-link d-none" id="nav-maintenances-tab" data-bs-toggle="tab" data-bs-target="#nav-maintenances" type="button" role="tab" aria-controls="nav-maintenances" aria-selected="false">Maintenances</button>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane show active" id="nav-applications" role="tabpanel" aria-labelledby="nav-applications-tab" tabindex="0">
							<table class="w-100 mx-auto mt-auto mb-3">
								<tbody>
									<tr>
										<th class="text-center fw-bold" style="color: #473F39;">Date</th>
										<th class="text-center fw-bold" style="color: #473F39;">Etat</th>
										<th class="text-center fw-bold" style="color: #473F39;">Message</th>
										<th class="text-center fw-bold" style="color: #473F39;">Auteur</th>
										<th class="text-center fw-bold" style="color: #473F39;">Maintenance / Hors maintenance</th>
									</tr>
									<tr class="border border-gray-500 border-dotted p-3">
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
									</tr>
								</tbody>
							</table>
						</div>
                        <div class="tab-pane fade" id="nav-maintenances" role="tabpanel" aria-labelledby="nav-maintenances-tab" tabindex="0">
                            <table class="w-100 mx-auto mt-auto mb-3">
                                <tbody>
									<tr>
										<th class="text-center fw-bold" style="color: #473F39;">Horodatage</th>
										<th class="text-center fw-bold" style="color: #473F39;">Type</th>
										<th class="text-center fw-bold" style="color: #473F39;">Etat</th>
										<th class="text-center fw-bold" style="color: #473F39;">Auteur</th>
										<th class="text-center fw-bold" style="color: #473F39;">Message</th>
										<th class="text-center fw-bold" style="color: #473F39;">Début</th>
										<th class="text-center fw-bold" style="color: #473F39;">Fin</th>
                                    </tr>
									<tr class="border border-gray-500 border-dotted p-3">
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
										<td class="text-center" style="color: #473F39;"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></div>
