controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
captchetat_routes:
      resource: '@AlmaviaCXCaptchEtatBundle/Resources/config/routes.yaml'

