// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../vendor/twbs/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$enable-negative-margins: true;
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../vendor/twbs/bootstrap/scss/maps";
@import "../../vendor/twbs/bootstrap/scss/mixins";
@import "../../vendor/twbs/bootstrap/scss/root";

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "../../vendor/twbs/bootstrap/scss/utilities";
@import "../../vendor/twbs/bootstrap/scss/reboot";
@import "../../vendor/twbs/bootstrap/scss/type";
@import "../../vendor/twbs/bootstrap/scss/images";
@import "../../vendor/twbs/bootstrap/scss/containers";
@import "../../vendor/twbs/bootstrap/scss/grid";
@import "../../vendor/twbs/bootstrap/scss/helpers";


$upb:   #FEEFDE;
$title: #033E79;
$popuptext: #473F39;
$sun: #C2EBA1;
$cloud: #F8CE8E;
$lightning: #F8957F;
$grey: #d3d3d3;


$custom-colors: (
  'custom-upb':   $upb,
  'custom-title': $title,
  'popuptext': $popuptext,
  'sun' : $sun,
  'cloud': $cloud,
  'lightning': $lightning,
  'grey': $grey,
  'operational': $sun,
  'unavailable': $lightning,
  'perturbed': $cloud,
);

$utilities: map-merge(
  $utilities,
  (
   "background-color": (
      property: background-color,
      class: bg,
      values: $custom-colors
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
   "text-color": (
      property: color,
      class: text,
      values: $custom-colors
    ),
  )
);

// ajout de ce code pour avoir une valeure suplémentaire (80%) ainsi que des breakpoints responsive pour la propriété width (les breakpoints n'existent pas dans bootstrap pour w-*)
$utilities: map-merge(
  $utilities,
  (
    'width': (
      property: width,
      class: w,
      responsive: true,
      values: (
        25: 25%,
        33: 33%,
        40: 40%,
        50: 50%,
        60: 60%,
        75: 75%,
        80: 80%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../vendor/twbs/bootstrap/scss/utilities/api";

@import 'bootstrap';
