<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
<h1>{{ subject }}</h1>
<h3>Description : </h3>
<p>{{ message|nl2br }}</p>
<p>Cordialement,<br>La météo des services</p>
</body>
</html>